* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
}


body, html{

    background-image: linear-gradient(rgb(81, 177, 241), white, rgb(81, 177, 241));
    height: 100vh;
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: absolute;
    
}

body{
    max-width:none;
}


button {
  all: unset;
  cursor: pointer;
  outline: revert;
}
#section1{
width:100%;
}
#cabecalho{
height: 100px;
width: 466px;
}
#cabecalhoimg{
position: absolute;
height: 130px;
top: -37px;
width:100%;
}
#navbarimg{
position: absolute;
height: 139px;
top: 48px;
width:100%;
}
.personagem{
position: absolute;
width: 277px;
height: 325px;
left: 25px;
top: 160px;
}



#flora{
    display:default;
}
#caca{
   display:none;
}
#zeca{
    display:none;
}
#vanvan{
    display:none;
}
#neco{
    display:none;
}

.imgbotao{
width: 256.05px;
height: 71.21px;
}



.botoespersonagem{
width: 100.05px;
height: 31.21px;
}

#botaoflora{
position: absolute;
width: 256.05px;
height: 71.21px;
left: 31px;
top: 483px;
}

#botaocaca{
position: absolute;
width: 308px;
height: 70.79px;
left: 31px;
top: 553px;
}

#botaozeca{
position: absolute;
width: 310px;
height: 70.71px;
left: 31px;
top: 624px;    
}
#botaovanvan{
position: absolute;
width: 312.4px;
height: 71.79px;
left: 31px;
top: 694px;
}
#botaoneco{
position: absolute;
width: 305px;
height: 71.21px;
left: 31px;
top: 764px;
}


